<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Mercado Liebre -Register-</title>
</head>

<body class="home__container">
    <!-- -----------------start header------------------- -->

    <header class="home__header__container">
        <div class="home__header__navbar">
            <div class="home__header__logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo" />
            </div>

            <div class="home__header__search">
                <form class="home__header__search__form" action="/">
                    <input type="text" placeholder="Buscar productos, marcas" />
                    <button class="home__header__search__form__btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <p class="home__header__pagos">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y
                sin tarjeta de crédito
            </p>

        </div>

        <p class="home__header__pagos--mobile">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
        </p>

        <nav class="home__header__nav">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="home__header__btn__menu center">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <!-- -----------------end header------------------- -->

    <!-- -----------------start main------------------- -->
    <main class="register__container">
        <section class="register__form__container">
            <h2>Crea tu cuenta</h2>
            <form action="/">

                <input type="text" placeholder="Nombre y apellido" name="nombre" required>
                <input type="text" placeholder="Nombre de usuario" name="usuario" required>
                <input type="email" placeholder="Correo electrónico" name="correo" required>
                <input type="text" placeholder="Domicilio" name="domicilio" required>
                <input type="password" placeholder="Contraseña" name="password" required>
                <input type="password" placeholder="Confirmar contraseña" name="re-password" required>
                <div class="input__date">
                    <label class="text-title" for="date">Fecha de Nacimiento:</label>
                    <input type="date" name="date" id="date" required>
                </div>
                <p class="text-title">Perfil de usuario: </p>
                <div class="register__form__intereses__fila">

                    <div class="perfil-flex">
                        <label for="comprador" class="check">Comprador</label>
                        <input type="radio" name="tipo" id="comprador" value="comprador" checked>
    
                    </div>
                    <div class="perfil-flex">
    
                        <label for="vendedor" class="check">Vendedor </label>
                        <input type="radio" name="tipo" id="vendedor" value="vendedor">
                    </div>
                </div>

                <p class="text-title">Intereses</p>
                <div class="register__form__intereses__fila jc-sb">

                    <div class="display-flex">
                        <label class="check" for="electro">
                            Electro
                        </label>
                        <input type="checkbox" name="electro" id="electro" value="Electro">

                    </div>
                    <div class="display-flex">
                        <label class="check" for="moda">
                            Moda
                        </label>
                        <input type="checkbox" name="moda" id="moda" value="moda">

                    </div>
                    <div class="display-flex">
                        <label class="check" for="hogar">
                            Hogar
                        </label>
                        <input type="checkbox" name="hogar" id="hogar" value="hogar">

                    </div>
                    <div class="display-flex">
                        <label class="check" for="jugueteria">
                            Jugueteria
                        </label>
                        <input type="checkbox" name="jugueteria" id="jugueteria" value="jugueteria">

                    </div>
                    <div class="display-flex">
                        <label id="vida-sana" for="vida">
                            Vida sana
                        </label>
                        <input type="checkbox" name="vida" id="vida" value="vida sana">

                    </div>
                </div>

                <button type="reset" id="register__borrar">
                    Borrar datos
                </button>
                <button type="submit" id="register__enviar">
                    Enviar
                </button>
            </div>
        </form>
    </section>

</main>

























    <!-- -----------------end main------------------- -->
    <!-- -----------------start footer------------------- -->

    <footer class="home__footer__container">
        <section class="home__footer__section">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="home__footer__section">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="home__footer__section">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegido.
            </p>
        </section>

        <p class="home__footer__copyright">
            Copyright ©️ 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
    <!-- -----------------end footer------------------- -->
</body>

</html>