.home__footer__container{
    background-color: var(--color-blanco);
    margin: 5px 3px;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}

.home__footer__section{
    margin-bottom: 40px;
    padding: 0 30px;
}
.home__footer__section i{
    color: var(--color-celeste);
    font-size: 2rem;
    margin-bottom: 10px;
}
.home__header__nav{
    display: none;
}
