.home__footer__container{
    background-color: var(--color-blanco);
    margin: 5px 3px;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}

.home__footer__section{
    margin-bottom: 40px;
    padding: 0 30px;
    max-width: 400px;
}
.home__footer__section i{
    color: var(--color-celeste);
    font-size: 2rem;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}
.home__footer__section i:hover{
    color: var(--color-verde);
}
@media screen and (min-width: 1024px){
    .home__footer__container{
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .home__footer__copyright{
        position: absolute;
        bottom: 10px;
    }
}

