.home__header__container {
  padding: 10px 0px;
  color: var(--color-negro);
  margin-bottom: 20px;
}
.home__header__container p {
  text-align: center;
  margin-bottom: 15px;
}
.home__header__navbar {
  margin-bottom: 15px;
  padding: 0 20px;
}
.home__header__logo {
  max-width: 150px;
  padding: 10px;
}
.home__header__search__form__btn {
  display: block;
}
.home__header__search__form input {
  margin-bottom: 2px;
}
.home__header__nav {
    margin-bottom: 20px;
}
.home__header__nav ul {
  list-style: none;
}
.home__header__nav ul:first-child {
  margin-bottom: 15px;
}
.home__header__nav ul li a {
  text-decoration: none;
  color: var(--color-negro);
}
.home__header__btn__menu {
  width: 100%;
}
.home__header__btn__menu button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-celeste);
    color: var(--color-gris-claro);
}
