.home__main__container {
  margin: 0 auto;
  width: 90%;
 
}
.home__main__section__banner{
  width: 100%;
  display: none;
}
.home__main__section__banner img{
  width: 100%;
}
.home__main__section__last__view h2, 
.home__main__section__offer h2 {
  margin-bottom: 10px;
  padding: 4% 2%;
  display: flex;
}
.home__main__product__cards{
 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
 
}

.home__main__product__card {
  background-color: var(--color-blanco);
  margin-bottom: 10px;
}
.home__main__product__card__img {
  border-bottom: 1px solid var(--color-gris-claro);
}
.home__main__product__card__img img {
  width: 100%;
}
.home__main__product__card__info {
  padding: 15px;
  position: relative;
}
.card_flex-row{
  display: flex;
  gap: 10px;
}
.home__main__product__card__info .descuento {
  margin-bottom: 15px;
}
.home__main__product__card__envios {
  border-radius: 50%;
  border: 2px solid var(--color-verde);
  color: var(--color-verde);
  height: 32px;
  width: 32px;
  position: absolute;
  top: -15px;
  right: 20px;
}
.home__main__product__card__envios.center{
  transition: all 0.8s ease;
}
.home__main__product__card__envios.center:hover{
  transform: rotate(360deg);
}
.home__main__product__card {
  transition: all 0.4s ease;
  position: relative;
  padding-bottom: 15px;
  overflow: hidden;
  
} 
 .home__main__product__card:hover {
  box-shadow: 0px 0px 10px rgb(185, 185, 185);
  transform: scale(1.05);
  
} 
 .home__main__product__card:hover .descripcion{
  transform: translateY(-60px);
 
  
} 
.home__main__product__card .descripcion{
  position: absolute;
  bottom: -60px;
  transition: all 0.4s ease;
}

@media screen and (min-width: 768px) {
  .home__main__container {
  
    width: 100%;
   padding-bottom: 20px;
  }
  .home__main__section__banner{
    display: block;
  }
  
  .home__main__product__cards{
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
   
  }
  .home__main__product__card {
   max-width: 44%;
  }
  .home__main__section__last__view h2, 
.home__main__section__offer h2 {
  margin-bottom: 10px;
  padding: 20px 0px;
  display: flex;
  margin: 0 40px;
}
}
@media screen and (min-width: 1024px) {
  
  .home__main__product__card {
   max-width: 22%;
  }
}
