.register__container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  padding: 40px 0;
}
.register__form__container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.register__form__container {
  background-color: rgba(219, 219, 219, 0.233);
  box-shadow: 3px 3px 4px #ccc;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  max-width: 550px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.register__form__container form input {
  border-radius: 5px;
  border: none;
  margin: 15px 0;
  outline: none;
  padding: 10px;
  width: 100%;
}
.register__form__container form button {
  background-color: var(--color-celeste);
  border-radius: 5px;
  border: none;
  color: var(--color-gris-claro);
  margin: 15px 0;
  padding: 10px;
  width: 100%;
}
.register__form__container form .text-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 15px;
}
.display-flex {
  align-items: center;
  display: flex;
  gap: 7px;
  text-align: center;
}
.register__form__intereses__fila {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  white-space: nowrap;
}
.perfil-flex {
  align-items: center;
  display: flex;
  gap: 8px;
}
#comprador,
#vendedor {
  width: 10px;
}
.jc-sb {
  justify-content: space-between;
}

#register__enviar{
  transition: all 0.4s ease;
}
#register__enviar:hover{
  background-color:#0022AA;
  cursor: pointer;
}

#register__borrar {
  background-color: rgb(174, 23, 23);
  transition: all 0.4s ease;
}
#register__borrar:hover {
  background-color: rgb(140, 11, 11);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .register__form__container {
    margin: 0 20px;
    padding: 20px;
  }
}
